---
import { getRelativeLocaleUrl } from "astro:i18n";
import { languageList } from "src/i18n/ui";
import { useTranslations } from "src/i18n/utils";

const currentLang = Astro.currentLocale || "es";

const t = useTranslations(currentLang as keyof typeof languageList);
---

<nav class="relative flex items-center bg-white p-4">
  <div class="mx-auto flex w-full items-center justify-between lg:max-w-5xl">
    <a href="/">
      <img src="/header/logo.png" class="h-16" alt="Omegha Logo" />
    </a>
    <div class="lg:hidden">
      <button class="navbar-burger flex items-center p-3 text-gray-950">
        <svg
          class="block h-5 w-5 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
    <ul
      class="hidden flex-grow items-center justify-center space-x-8 uppercase lg:flex"
    >
      <li>
        <a
          class="text-sm text-gray-400 hover:text-gray-500"
          href={getRelativeLocaleUrl(currentLang, "/")}>{t("nav.home")}</a
        >
      </li>
      <li>
        <a
          class="text-sm text-gray-400 hover:text-gray-500"
          href={getRelativeLocaleUrl(currentLang, "/nosotros")}
          >{t("nav.about")}</a
        >
      </li>
      <li>
        <a
          class="text-sm text-gray-400 hover:text-gray-500"
          href={getRelativeLocaleUrl(currentLang, "/ingenieria")}
          >{t("nav.enginnering")}</a
        >
      </li>
      <li>
        <a
          class="text-sm text-gray-400 hover:text-gray-500"
          href={getRelativeLocaleUrl(currentLang, "/proyectos")}
          >{t("nav.projects")}</a
        >
      </li>
      <li>
        <a
          class="text-sm text-gray-400 hover:text-gray-500"
          href={getRelativeLocaleUrl(currentLang, "/servicios")}
          >{t("nav.service")}</a
        >
      </li>
      <li>
        <a
          class="text-sm text-gray-400 hover:text-gray-500"
          href={getRelativeLocaleUrl(currentLang, "/contacto")}
          >{t("nav.contact")}</a
        >
      </li>
    </ul>
    <div class="relative hidden text-left text-sm lg:inline-block">
      <button
        id="dropdownButtonDesktop"
        class="flex items-center space-x-2 rounded-lg px-2 py-1"
      >
        <img
          src={currentLang === "es" ? "/header/spain.svg" : "/header/usa.svg"}
          alt={currentLang === "es" ? "Espa単ol" : "English"}
          class="h-5 w-5"
        />
        <span>{currentLang === "es" ? "Espa単ol" : "English"}</span>
        <svg
          class="ml-1 h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      <div
        id="dropdownMenuDesktop"
        class="absolute mt-2 hidden w-40 rounded-lg border bg-white shadow-lg"
      >
        {
          Object.entries(languageList).map(([key, label]: [string, string]) => {
            return (
              <a
                href={`/${key}`}
                class="flex items-center px-4 py-2 hover:bg-gray-100"
              >
                <img
                  src={`/header/${key === "es" ? "spain.svg" : "usa.svg"}`}
                  alt={label}
                  class="mr-2 h-5 w-5"
                />
                {label}
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
  <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed bottom-0 left-0 top-0 flex w-5/6 max-w-sm flex-col overflow-y-auto border-r bg-white px-6 py-6"
    >
      <div class="mb-8 flex items-center">
        <a class="mr-auto" href="#">
          <img src="/header/logo.png" class="h-16" alt="" />
        </a>
        <button class="navbar-close">
          <svg
            class="h-6 w-6 cursor-pointer text-gray-400 hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a
              class="block rounded p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
              href={getRelativeLocaleUrl(currentLang, "/")}>{t("nav.home")}</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block rounded p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
              href={getRelativeLocaleUrl(currentLang, "/nosotros")}
              >{t("nav.about")}</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block rounded p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
              href={getRelativeLocaleUrl(currentLang, "/ingenieria")}
              >{t("nav.enginnering")}</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block rounded p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
              href={getRelativeLocaleUrl(currentLang, "/proyectos")}
              >{t("nav.projects")}</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block rounded p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
              href={getRelativeLocaleUrl(currentLang, "/servicios")}
              >{t("nav.service")}</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block rounded p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
              href={getRelativeLocaleUrl(currentLang, "/contacto")}
              >{t("nav.contact")}</a
            >
          </li>
        </ul>
      </div>
      <div class="relative self-start">
        <button
          id="dropdownButton"
          class="flex w-full items-center justify-between rounded-lg bg-gray-100 px-4 py-2 text-gray-600 hover:bg-gray-200"
        >
          <div class="flex items-center space-x-3">
            <img
              src={currentLang === "es"
                ? "/header/spain.svg"
                : "/header/usa.svg"}
              alt={currentLang === "es" ? "Espa単ol" : "English"}
              class="h-5 w-5"
            />
            <span>{currentLang === "es" ? "Espa単ol" : "English"}</span>
          </div>
          <svg
            class="ml-2 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>

        <div
          id="dropdownMenu"
          class="absolute left-0 top-full hidden w-full rounded-lg border bg-white shadow-lg"
        >
          {
            Object.entries(languageList).map(
              ([key, label]: [string, string]) => {
                return (
                  <a
                    href={`/${key}`}
                    class="flex items-center px-4 py-2 hover:bg-gray-100"
                  >
                    <img
                      src={`/header/${key === "es" ? "spain.svg" : "usa.svg"}`}
                      alt={label}
                      class="mr-2 h-5 w-5"
                    />
                    {label}
                  </a>
                );
              }
            )
          }
        </div>
      </div>
    </nav>
  </div>
</nav>

<script is:inline>
  // Burger menus
  document.addEventListener("astro:page-load", function () {
    // open
    const burger = document.querySelectorAll(".navbar-burger");
    const menu = document.querySelectorAll(".navbar-menu");

    if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
        burger[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    document
      .getElementById("dropdownButtonDesktop")
      .addEventListener("click", function () {
        document
          .getElementById("dropdownMenuDesktop")
          .classList.toggle("hidden");
      });

    document
      .getElementById("dropdownButton")
      .addEventListener("click", function () {
        document.getElementById("dropdownMenu").classList.toggle("hidden");
      });

    // close
    const close = document.querySelectorAll(".navbar-close");
    const backdrop = document.querySelectorAll(".navbar-backdrop");

    if (close.length) {
      for (var i = 0; i < close.length; i++) {
        close[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
        backdrop[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }
  });
</script>
