---
import Layout from "@layouts/Layout.astro";
import PreFooter from "@components/PreFooter.astro";
import { Icon } from "astro-icon/components";
//Idioma
import type { languageList } from "src/i18n/ui";
import { useTranslations } from "src/i18n/utils";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);
//Imagenes
import img1 from "src/assets/nosotros/01.jpg";
import img2 from "src/assets/nosotros/02.jpg";
import img3 from "src/assets/nosotros/03.jpg";
import img4 from "src/assets/nosotros/04.jpg";
import img5 from "src/assets/nosotros/05.jpg";

//Valores
const valores = [
  ["La Honestidad", "El Orden", "La Sencillez", "La Vocación Profesional"],
  [
    "La Responsabilidad",
    "La Disciplina",
    "La Precisión",
    "La Constante Innovación",
  ],
];
---

<Layout title="Nosotros">
  <section class="pb-5">
    <div class="mx-auto min-h-screen max-w-5xl p-4">
      <div
        class="flex flex-col gap-3 rounded-2xl bg-white-general bg-opacity-60 p-5 md:gap-6"
      >
        <article
          class="prose max-w-none text-sm prose-h1:text-2xl/6 lg:text-base"
        >
          <h1 class="uppercase text-blue-900 md:pl-5">
            {t("about.title")}
          </h1>
          <div
            class="flex flex-col items-center justify-center md:flex-row md:gap-4"
          >
            <div class="text-justify text-black md:mt-4">
              <p
                class="animate-slide-right lg:animate-slide-right-desktop"
                set:html={t("about.firstP")}
              />
              <p
                class="mb-1 animate-slide-right lg:animate-slide-right-desktop"
              >
                {t("about.secondP")}
              </p>
            </div>
            <img
              class="w-auto animate-slide-left rounded-2xl md:h-64 md:self-center lg:h-72 lg:animate-slide-left-desktop"
              src={img1.src}
              alt="Omegha Nosotros"
            />
          </div>
          <p
            class="mt-0.5 animate-slide-right text-justify text-black lg:animate-slide-right-desktop"
          >
            {t("about.thirdP")}
          </p>
        </article>

        <article class="mt-4 rounded-2xl bg-green-nosotros bg-opacity-40 p-3">
          <div
            class="flex flex-col items-center justify-center gap-4 md:flex-row-reverse"
          >
            <div
              class="slide-left md:anim prose text-justify text-sm text-black opacity-0 lg:text-base"
            >
              <h2 class="uppercase text-blue-900">{t("mission.title")}</h2>
              <p>
                {t("mission.des")}
              </p>
            </div>
            <img
              class="slide-right h-48 w-full rounded-2xl opacity-0 md:h-auto md:w-96 lg:h-72 lg:w-auto"
              src={img2.src}
              alt="Omegha Mision"
            />
          </div>
        </article>

        <article class="rounded-2xl bg-orange-nosotros bg-opacity-40 p-3">
          <div class="flex flex-col justify-center gap-4 md:flex-row">
            <div
              class="slide-right prose invisible text-justify text-sm text-black opacity-0 lg:text-base"
            >
              <h2 class="uppercase text-blue-900">{t("vision.title")}</h2>
              <p>
                {t("vision.des")}
              </p>
            </div>
            <img
              class="slide-left invisible h-48 w-full rounded-2xl opacity-0 md:h-auto md:w-96 lg:h-[290px] lg:w-auto"
              src={img3.src}
              alt="Omegha Vision"
            />
          </div>
        </article>
      </div>

      <div
        class="mt-8 rounded-2xl bg-background-values bg-opacity-90 px-5 py-6"
      >
        <div class="mx-auto max-w-5xl">
          <article
            class="prose flex max-w-none flex-col items-center space-y-8 pb-8 text-center text-sm text-slate-100 marker:text-black lg:text-lg"
          >
            <div>
              <h2
                class="slide-top invisible uppercase text-color-values opacity-0"
              >
                {t("values.title")}
              </h2>
              <p
                class="slide-top invisible px-2 opacity-0"
                set:html={t("values.des")}
              />
            </div>
            <div class="flex flex-col gap-8 md:flex-row md:gap-0 md:space-x-48">
              <div
                class="slide-right invisible flex w-[320px] flex-col items-center text-center opacity-0"
              >
                <Icon name="heart" class="text-3xl text-color-values" />
                <p class="font-semibold">{t("values.liF")}</p>
              </div>
              <div
                class="slide-left invisible flex w-[320px] flex-col items-center text-center opacity-0"
              >
                <Icon name="heart" class="text-3xl text-color-values" />
                <p class="font-semibold">{t("values.liP")}</p>
              </div>
            </div>
            <div
              class="slide-left invisible flex w-[320px] flex-col items-center justify-center text-center opacity-0 md:w-[660px]"
            >
              <Icon name="heart" class="text-3xl text-color-values" />
              <p class="font-semibold">{t("values.liT")}</p>
            </div>
            <p
              class="slide-top px-2 text-justify opacity-0 md:w-[720px] md:text-center"
            >
              {t("values.para")}
            </p>
          </article>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-5xl p-4 pb-40">
      <div
        class="flex flex-col gap-3 rounded-2xl bg-white-general bg-opacity-60 p-5 md:gap-6"
      >
        <article
          class="prose max-w-none rounded-2xl bg-blue-nosotros bg-opacity-40 p-3"
        >
          <div
            class="flex flex-col-reverse justify-center gap-4 md:flex-row-reverse"
          >
            <div
              class="slide-left text-justify text-sm text-black opacity-0 lg:text-base"
            >
              <p>
                {t("values.firstI")}
              </p>
              <p>
                {t("values.secondI")}
              </p>
            </div>
            <img
              class="slide-right not-prose h-48 w-auto rounded-2xl opacity-0 md:h-auto md:w-96 lg:h-72 lg:w-auto"
              src={img4.src}
              alt="Omegha Valores"
            />
          </div>
        </article>

        <div class="rounded-xl bg-purple-nosotros bg-opacity-40">
          <div class="mx-auto max-w-5xl">
            <article
              class="flex flex-col-reverse justify-center gap-3 p-3 md:flex-row"
            >
              <div
                class="p-1 text-justify text-sm text-black md:p-0 lg:text-lg"
              >
                <p
                  class="slide-top prose text-sm text-black opacity-0 lg:text-base"
                >
                  {t("values.firstS")}
                </p>
                <p class="slide-top my-2 font-semibold opacity-0 lg:text-base">
                  {t("values.secondS")}
                </p>
                <div class="grid grid-cols-2 gap-1 lg:text-base">
                  {
                    valores[0].map((valor, i) => (
                      <>
                        <li class="slide-right list-none text-left text-custom opacity-0 delay-300 before:mr-1 before:content-['✔'] md:text-base">
                          {valor}
                        </li>
                        <li class="slide-left list-none text-left text-custom opacity-0 delay-300 before:mr-1 before:content-['✔'] md:text-base">
                          {valores[1][i]}
                        </li>
                      </>
                    ))
                  }
                </div>
              </div>
              <img
                class="slide-left h-48 w-auto rounded-2xl opacity-0 md:h-auto md:w-96 lg:h-auto lg:w-[459px]"
                src={img5.src}
                alt="Omegha Valores"
              />
            </article>
          </div>
        </div>
      </div>
    </div>
    <PreFooter />
  </section>
</Layout>

<script>
  function initAnimations() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            if (entry.target.classList.contains("slide-left")) {
              entry.target.classList.add("animate-slide-left");
              entry.target.classList.add("lg:animate-slide-left-desktop");
            } else if (entry.target.classList.contains("slide-right")) {
              entry.target.classList.add("animate-slide-right");
              entry.target.classList.add("lg:animate-slide-right-desktop");
            } else if (entry.target.classList.contains("slide-top")) {
              entry.target.classList.add("animate-slide-top");
            }
          }
        });
      },
      { threshold: 0.2 }
    );
    document
      .querySelectorAll(".slide-left, .slide-right, .slide-top")
      .forEach((el) => observer.observe(el));
  }
  document.addEventListener("astro:after-swap", initAnimations);

  if (document.readyState === "loading") {
    document.addEventListener("astro:page-load", initAnimations);
  } else {
    initAnimations();
  }
</script>
